header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

#banner {
	width: 100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo{
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 20px;
}

p {
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}

p strong {
	font-weight: bold;
}

#missao em {
	font-style: italic;
	font-size: 16px;
}

em strong {
	color: red;
	font-weight: bold;
}

.beneficios{
	background: #FFFFFF;
	padding: 20px;
}

.itens{
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
	padding: 20px; 
}

.imagembeneficios{
	width: 50%;
}

footer {
	background: url("bg.jpg");
	text-align: center;
	padding: 40px 0;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}